.dashboardContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  background: linear-gradient(
    143deg,
    rgba(209, 236, 247, 1) 5%,
    rgba(244, 238, 224, 1) 50%,
    rgba(207, 235, 247, 1) 95%
  );

  .navbar {
    width: 100%;

    .logo {
      display: flex;
      align-items: center;
      img {
        width: 3.4rem;
        height: 3.4rem;
        object-fit: cover;
      }

      p {
        font-size: 1.3rem;
        font-weight: 600;
        margin-left: -1.5%;

        span {
          color: rgb(28, 117, 241);
        }
      }
    }
  }

  .uploadContainer {
    margin-top: 8%;
    background: linear-gradient(
      143deg,
      rgb(209, 236, 247) 5%,
      rgba(244, 238, 224, 1) 50%,
      rgba(207, 235, 247, 1) 95%
    );
    width: 88%;
    height: 48vh;
    border-radius: 1.4rem;
    border: 2.4px solid white;
    filter: drop-shadow(0px 2px 3px rgb(51, 51, 51));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;

    .uploadArea {
      width: 94.5%;
      height: 80%;
      border: 2px dotted rgb(117, 117, 117);
      border-radius: 0.8rem;
      margin: 0.6rem 0.6rem 0 0.6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;
      cursor: pointer;
      overflow: hidden;

      input {
        display: none;
      }

      .headerMobileText {
        font-size: 1.1rem;
        font-weight: 600;
      }

      .demoImage {
        width: 8rem;
        img {
          width: 100%;
          rotate: 280deg;
          filter: drop-shadow(0px 0px 1px black);
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: center;

        .headerDesktop,
        .uploadIconDesktop {
          display: none;
        }
      }

      .label {
        border: 2px solid rgb(196, 196, 196);
        padding: 0.3rem 0.7rem;
        border-radius: 0.5rem;
        font-size: 0.9rem;
      }
    }
    .generateBtn {
      background: linear-gradient(
        140deg,
        rgba(145, 106, 227, 1) 5%,
        rgba(104, 162, 240, 1) 64%
      );
      color: white;
      box-shadow: 0px 1px 5px rgb(76, 76, 76);
      border-radius: 2rem;
      padding: 0.3rem 0.8rem;
      font-size: 1.3rem;

      &:active {
        transform: scale(0.95);
      }
    }
  }

  .captionContainer {
    margin-top: 8%;
    background: #f6f6f6;
    width: 88%;
    height: 30vh;
    padding: 0.9rem;
    border-radius: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;

    .header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        font-weight: 600;
        font-size: 1.15rem;
      }

      .icon {
        width: 1.4rem;

        &:active {
          transform: scale(0.92);
        }
      }
    }

    .captionArea {
      background: #d5e7f6;
      padding: 0.5rem;
      border-radius: 0.9rem;
      border: 2px solid #badefe;
      box-shadow: 0px 2px 5px gray;
      height: 7rem;
      width: 100%;

      .captionText {
        font-weight: 600;
        font-size: 0.85rem;
      }
    }

    .actionsBtn {
      display: flex;
      align-items: center;

      .copyBtn {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        border: 2px solid rgba(128, 128, 128, 0.63);
        padding: 0.1rem 0.5rem;
        font-size: 0.75rem;
        border-radius: 0.5rem;
        cursor: default;
        .icon {
          width: 0.9rem;
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .dashboardContainer {
    .navbar {
      padding: 0.3rem 1rem;

      .logo {
        img {
          width: 5rem;
          height: 5rem;
        }
        p {
          font-size: 2rem;
          margin-left: -0.5%;
        }
      }
    }

    .uploadContainer {
      margin-top: 1%;
      width: 65%;
      height: 50vh;

      .uploadArea {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5rem;

        .headerMobileText {
          display: none;
        }

        .demoImage {
          img {
            width: 20rem;
          }
        }

        .right {
          justify-content: space-between;
          height: 78%;
          .headerDesktop {
            display: inline-block;
            font-size: 1.7rem;
            font-weight: 600;
          }
          .uploadIconDesktop {
            display: inline-block;
            width: 8rem;
            height: 8rem;
            color: rgb(146, 195, 211);
          }
        }
      }
    }

    .captionContainer {
      margin-top: 2%;
      width: 65%;
      padding: 1.1rem;

      .captionArea {
        padding: 0.8rem;
        .captionText {
          font-size: 1.1rem;
        }
      }
    }
  }
}
