.loginContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  background: linear-gradient(
    143deg,
    rgba(209, 236, 247, 1) 5%,
    rgba(244, 238, 224, 1) 50%,
    rgba(207, 235, 247, 1) 95%
  );

  a {
    color: inherit;
    text-decoration: none;
  }

  .loginInner {
    background: whitesmoke;
    width: 80%;
    height: 50vh;
    border-radius: 1rem;
    box-shadow: 0px 1px 4px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    .logo {
      display: flex;
      align-items: center;
      img {
        width: 4rem;
        height: 4rem;
        object-fit: cover;
      }

      p {
        font-size: 1.6rem;
        font-weight: 600;
        margin-left: -1.5%;

        span {
          color: rgb(28, 117, 241);
        }
      }
    }

    .form {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .inputs {
        border: 2px solid rgb(153, 153, 153);
        border-radius: 0.5rem;
        margin-bottom: 1.2rem;
        width: 90%;
        display: flex;
        align-items: center;
        padding: 0.3rem 0.6rem;
        gap: 0.3rem;
        height: 3rem;

        .icon {
          color: gray;
        }

        input {
          background: transparent;
          border: none;
          outline: none;
          font-size: 1.12rem;
          width: 80%;
          height: 100%;
        }
      }

      button {
        margin-top: 0.9rem;
        font-size: 1.45rem;
        background: linear-gradient(
          91deg,
          rgba(151, 96, 215, 1) 5%,
          rgba(98, 151, 236, 1) 64%
        );
        color: whitesmoke;
        width: 12rem;
        border: none;
        padding: 0.4rem;
        border-radius: 1.5rem;
        box-shadow: 0px 2px 4px gray;

        &:active {
          transform: scale(0.95);
        }
      }
    }

    .bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgb(215, 237, 245);
      width: 100%;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 0.85rem;

        .link {
          color: rgb(88, 197, 234);
          font-weight: 600;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .loginContainer {
    .loginInner {
      width: 40%;
      height: 55vh;
      .logo {
        img {
          width: 6rem;
          height: 6rem;
        }
        p {
          font-size: 2.2rem;
          margin-left: -2.8%;
        }
      }

      .form {
        width: 80%;

        .inputs {
            gap: 0.9rem
        }

        button {
            font-size: 2rem;
            width: 60%;
        }
      }

      .bottom {
        p {
            font-size: 1.1rem;
        }
      }
    }
  }
}
