.registerContainer {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    143deg,
    rgba(209, 236, 247, 1) 5%,
    rgba(244, 238, 224, 1) 50%,
    rgba(207, 235, 247, 1) 95%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;

  a {
    color: inherit;
    text-decoration: none;
  }

  .registerInner {
    background: rgba(245, 245, 245, 0.305);
    width: 80%;
    height: 50vh;
    border-radius: 1rem;
    box-shadow: 0px 0px 1px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2.5px solid white;
    .header {
      margin-top: 9%;
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 1.6rem;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      .inputs {
        margin-bottom: 1.2rem;
        border: 3px solid rgba(128, 128, 128, 0.474);
        border-radius: 1.5rem;

        .icon {
            display: none;
        }
        input {
          background: transparent;
          padding: 0.4rem 0.8rem;
          font-size: 1.15rem;
          border: none;
          outline: none;
        }
      }

      button {
        font-size: 1.35rem;
        width: 90%;
        padding: 0.48rem;
        border-radius: 1.3rem;
        background: linear-gradient(
          91deg,
          rgba(151, 96, 215, 1) 5%,
          rgba(98, 151, 236, 1) 64%
        );
        border: none;
        color: whitesmoke;

        &:active {
          transform: scale(0.9);
        }
      }
    }

    .bottom {
      width: 100%;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 0.85rem;

        .link {
          color: rgb(67, 167, 226);
          font-weight: 600;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .registerContainer {
    .registerInner {
      width: 50%;
      
      .header {
      margin-top: 3%;
      font-size: 2rem;
      }

      .form {
        .inputs {
            display: flex;
            align-items: center;
            padding: 0.3rem;
        }
      }
    }
  }
}
